.main {
  display: flex;
  flex-direction: column; /* Change this back to column */
  align-items: center;
  justify-content: center; /* This will vertically center the items */
  height: 100%;
  background: #eafff1;
  color: #ffffff;
  font-family: 'Comic Mono', sans-serif;
}

  .main .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-family: 'Comic Mono', sans-serif;
}


.main .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url('/images/girl.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-sizing: border-box;
}

.main h3 {
  font-family: 'Gothic', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #42d0ff;
}

.main form {
  display: flex;
  gap: 10px;
}

.main input[type='text'] {
  padding: 12px 16px;
  border: 2px solid #42d0ff;
  border-radius: 4px;
  margin-bottom: 12px;
  background: #242424;
  color: #ffffff;
  width: calc(
    100% - 120px
  ); /* Reduce width to make room for the submit button */
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}

.main input[type='submit'] {
  padding: 12px 0;
  color: white;
  background-color: #00d6ff;
  border: 2px solid #00d6ff;
  border-radius: 1px;
  text-align: center;
  cursor: pointer;
  width: 100px; /* Set a specific width for the submit button */
  height: 48px; /* Set a specific height for the submit button, matching the input field */
  margin-left: 10px;
  box-sizing: border-box; /* This ensures that padding and border are included in the element's total width and height */
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.main .chat {
  max-width: 600px;
  height: 80%; /* Increase this value to make the chat box taller */
}

.main .chatDisplay {
  background: #e7d8d8;
  font-size: 18px;
  text-align: left;
  height: 500px;
  width : 600px;
  border-radius: 6px;
  border: 2px solid #42d0ff;
  margin-bottom: 12px;
  padding: 12px 0px;
  overflow-y: auto;
}
.messageAI {
  display: flex;
  justify-content: flex-start;
  align-items: center; /* Add this line */
  margin: 10px 0px; /* Add this line to create space between messages */
}

.messageUser {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Add this line */
  margin: 10px 0px; /* Add this line to create space between messages */
}

.messageNameAI {
  display: inline;
  font-weight: bold;
  padding-left: 10px;
  color: #88590d;
  margin-right: 10px; /* Add this line to create space between the name and the message bubble */
}

.messageContentUser {
  display: inline;
  margin-left: 10px;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 80%;
  overflow-wrap: break-word;
  font-size: 16px; /* Adjust the font size as needed */
}

.messageContentAI {
  display: inline;
  margin-left: 10px;
  color: #000000;
  background: #bdd7fe;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 80%;
  overflow-wrap: break-word;
  font-size: 16px; /* Adjust the font size as needed */
}
